/* --------------------------- */
/*       TO DO / NOTES         */
/* --------------------------- */








/* -------------- CODE STARTS ------------- */


/* --------------------------- */
/*           GLOBALS           */
/* --------------------------- */

:root {

/* Color styles (imported from Figma) */
--primary-purple: rgba(64, 67, 124, 1);
--surface-blue: rgba(194, 255, 233, 1);
--surface-pale-yellow: rgba(255, 245, 206, 1);
--secondary-black: rgba(65, 64, 66, 1);
--accent-blue: rgba(102, 153, 255, 1);
--accent-orange: rgba(255, 158, 85, 1);
--accent-yellow: rgba(255, 216, 90, 1);
/* Tree colours
--trees-light-green: rgba(93, 215, 162, 1);
--trees-dark-green: rgba(47, 170, 149, 1);
--trees-brown-mid: rgba(142, 112, 102, 1); */

/* Gradient styles */
--page-grad: linear-gradient(160deg, var(--surface-blue), var(--surface-pale-yellow));


/* Text-size styles (imported from Figma) */

/* base size: wireframes--paragraph-reg (16px) */
--h1-page-title: 2.5rem;
--h2-page-section: 2rem;
--h3-sub-headings: 1.5rem;
--key-text-emphasis: 1.5rem;
--key-text: 1.25rem;
--key-numbers: 3rem;
--paragraph-emphasis: 1rem;
--paragraph-reg: 1rem;
--paragraph-small: 0.88rem;
--cta--l: 1.75rem;
--cta--m: 1rem;
--inline-link: 1rem;

/* Font stacks */
--primary-typeface: "Nerko One", "Comic sans", serif;
--secondary-typeface: "Urbanist", "Arial", "Calibri", sans-serif;

/* Page text padding values */
--text-padding-default: 20px;

}

/* Google font generated classes
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.urbanist-paragraph {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  } */


  
  body {
    position: relative;
      color: var(--primary-purple);
      background: fixed var(--page-grad);
      margin: 0 auto;
    }
    
.page-wrap {
    /* margin: 0 auto; */
    overflow: hidden;
    position: relative;
}

img {
    display: block;
}


/* --------------------------- */
/*         TEXT STYLES         */
/* --------------------------- */

h1 {
    font-family: var(--secondary-typeface);
    font-size: var(--h1-page-title);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

h2 {
    font-family: var(--primary-typeface);
    font-size: var(--h2-page-section);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

h3 {
    font-family: var(--secondary-typeface);
    font-size: var(--h3-sub-headings);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 36px */
    letter-spacing: 0.6px;
}

.key-text {
    font-family: var(--secondary-typeface);
    font-size: var(--key-text);
    font-style: normal;
    font-weight: 500;
    line-height: 175%; /* 35px */
    letter-spacing: 0.5px;
    text-transform: none;
}

.key-text b {
    font-family: var(--primary-typeface);
    font-size: var(--key-text-emphasis);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.6px;
}

.key-numbers {
    font-family: var(--primary-typeface);
    font-size: var(--key-numbers);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.6px;
}

/* Bold text with <b> tag */
p {

    font-family: var(--secondary-typeface);
    font-size: var(--paragraph-reg);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.inline-link {
    color: inherit;
    font-family: var(--secondary-typeface);
    font-size: var(--inline-link);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.4px;
    text-decoration-line: underline;
}

.paragraph-small {
    font-family: var(--secondary-typeface);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}

/* remove default link styling */
a {
    text-decoration: none;
    display: inline-block;
}

/* --------------------------- */
/*            CTAs             */
/* --------------------------- */

.cta-link--l {
    padding: 0.5rem 1rem;
    margin: 0 auto;

    border-radius: 5px;
    border: 3px solid var(--accent-yellow, #FFD85A);
    background: var(--primary-purple, #40437C);
    box-shadow: 0px 5px 5px 0px #40437C;

    color: var(--accent-yellow);
    font-family: var(--primary-typeface);
    font-size: var(--cta--l);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.cta-link--m {
    padding: 0.5rem 1rem;

    border-radius: 4px;
    border: 1px solid var(--accent-yellow);
    background: var(--primary-purple, #40437C);

    color: var(--accent-yellow);
    font-family: var(--secondary-typeface);
    font-size: var(--cta--m);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-align: center;
}

/* --------------------------- */
/*           CARDS             */
/* --------------------------- */

.card {
    display: inline-block;
    background-color: var(--surface-pale-yellow);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    background: var(--surface-pale-yellow);
    box-shadow: 4px 4px 0px 0px #40437C;
    
}

/* --------------------------- */
/*           HEADER            */
/* --------------------------- */

.main-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    border: solid 1px red;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    box-sizing: border-box;
    padding: 2rem 1.25rem 2rem 1.25rem ;
}

.main-header > .logo {
    margin: 0 auto;
}
/* ------ NAV ------ */

.main-nav {

    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    z-index: 1;
    top: 2rem;
    right: 1.25rem;

    min-width: 12rem;
    max-width: 50%;
}
.main-nav-toggle {
    /* border: solid 1px red; */
    border: none;
    margin: 0;
    padding: 0;
    max-width: 3rem;

    /* position: relative; */
    background-color: transparent;
    cursor: pointer;
}

.main-nav-options {
    background-color: var(--surface-pale-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;

    /* width: 100%; */

    list-style-type: none;
}
.main-nav-option {
    display: block;
    text-align: center;
    width: 100%;
}

.main-nav-option a {
    display: block;
    padding: 0.5rem 1rem;

    border-radius: 4px;
    border: 1px solid var(--primary-purple, #40437C);
    background: var(--primary-purple, #40437C);

    color: var(--surface-pale-yellow);
    font-family: var(--secondary-typeface);
    font-size: var(--cta--m);
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

/* --------------------------- */
/*           FOOTER            */
/* --------------------------- */
.main-footer {
    position: relative;
    margin: 0 auto;
    margin-top: 10rem;
    /* margin-top: 3rem; */
    /* padding: 2rem; */
    color: var(--surface-pale-yellow);
}

.main-footer__content {
    /* border: solid 1px yellow; */
    background: var(--primary-purple);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

.main-footer::before {
    /* border: solid 1px red; */
    position: absolute;
    display: block;
    border-radius: 50%;
    content: " ";
    background-color: var(--primary-purple);
    width: 120%;
    height: 50%;
    z-index: -1;
    top: -15%;
    left: -10%;
    /* transform: translate(-10%, -25%); */
}

.social-media-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0 2rem;
}

/* --------------------------- */
/*           HOME PAGE         */
/* --------------------------- */

.hero-section {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.hero-section .key-text {
    font-size: 1.5rem;
}

.hero-section .key-text b {
    font-size: 2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.hero-section__title {
    border: solid 1px red;
    
    position: relative;
    display: block;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.hero-section__title .sun {
    margin: 0 auto;
    width: 130%;
    position: absolute;
    z-index: -1;
    transform: translate(0%, -10%);
    left: -15%;
    right: 0;
}

.hero-section__get-started {
    border: solid 1px blue;
    position:relative;
    margin: 0 auto;
    
}

.hero-section__get-started .tree-canopy-01 {
    margin: 0 auto;
    width: 160%;;
    left: -30%;
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(0, -40%);
}